<h1>Documents Screener</h1>

<p>Are you currently receiving any income through employment, the state, or some other means?</p>
<input type="radio" />Yes<br/>
<input type="radio" />No<br/>

<!-- Yes: -->
<p>Select all that apply to your employment status:</p>
<input type="checkbox" />Employee or contractor<br/>
<input type="checkbox" />Self-employed<br/>
<input type="checkbox" />Retired<br/>
<input type="checkbox" />Unemployed and receiving unemployment benefits<br/>
<input type="checkbox" />Unemployed and not receiving unemployment benefits<br/>


<p>Which of the following do you receive:</p>

<input type="checkbox" />Disability benefits<br/>
<input type="checkbox" />Child support<br/>
<input type="checkbox" />Rental income<br/>
<input type="checkbox" />None of the above<br/>

