<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700'
      rel='stylesheet'
      type='text/css'>

<link href='/stylesheets/style.css' rel='stylesheet' type='text/css'>

<script src="https://fb.me/react-15.1.0.js"></script>
<script src="https://fb.me/react-dom-15.1.0.js"></script>
<script src="https://code.jquery.com/jquery-3.0.0.min.js"
        integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="
        crossorigin="anonymous"></script>
<script src="/javascripts/vendor/react-tooltip.min.js"></script>

<div id="sidebar"></div>
<div id="center-area">
  <div id="screener"></div>
</div>

<script src="/javascripts/styles/button_style.js"></script>
<script src="/javascripts/styles/link_style.js"></script>

<script src="/javascripts/components/progress_bar.js"></script>

<script src="/javascripts/components/birth_certificate_and_social_card_section.js"></script>
<script src="/javascripts/components/income_documents_list.js"></script>

<script src="/javascripts/components/default_data.js"></script>
<script src="/javascripts/components/document_results_display.js"></script>
<script src="/javascripts/components/error_page.js"></script>

<script src="/javascripts/components/employment_status_confirmation.js"></script>
<script src="/javascripts/components/additional_income_confirmation.js"></script>

<script src="/javascripts/components/number_of_people_question.js"></script>
<script src="/javascripts/components/citizenship_question.js"></script>
<script src="/javascripts/components/housing_question.js"></script>
<script src="/javascripts/components/employment_question.js"></script>
<script src="/javascripts/components/additional_income_question.js"></script>

<script src="/javascripts/components/confirmation_page.js"></script>
<script src="/javascripts/components/first_page.js"></script>
<script src="/javascripts/components/second_page.js"></script>
<script src="/javascripts/components/third_page.js"></script>

<script src="/javascripts/components/screener.js"></script>

<script src="/javascripts/main.js"></script>
